@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  --orange: #fb9a17;
  --baronial_brown: #5a463f;
  --dark_grayish_magenta: #3c353c;
  --green: #145450;
  --red: #fb050b;
  font-family: "EB Garamond", serif;
  --back-pale: whitesmoke;
  --back-dark: #3c353c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark_grayish_magenta);
  position: relative;
}

/*---Containers for Sections--- */

.biggest {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.biggest .main {
  width: 80%;
}

/* --------------------------------------------------------*/
/* --------------------------header------------------------*/
.header {
  height: 50vh;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
}

.words {
  font-size: 1.5rem;
  font-weight: bold;
}

.img {
  margin: 0;
  width: 15vw;
  height: 70px;
}

.img img {
  width: 100%;
  height: 55px;
  object-fit: cover;
  margin: 5px auto;
}

.header-writings {
  position: absolute;
  top: 60px;
  margin: 3rem;
  padding: 1rem;
  width: 80%;
  max-height: 300px;
  overflow: auto;
}

.header-writings h1 {
  font-size: 2rem;
  width: fit-content;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}
.header-writings p {
  font-size: 1.3rem;
  width: fit-content;
}

/* --------------------------------------------------------*/

/* --------------------hamburger-menu----------------------*/

.top-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #fff;
  height: 70px;
  padding: 1em;
  position: fixed;
  z-index: 2;
  top: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 2px;
}
.menu li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #145450;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.menu li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.menu li a:hover {
  color: var(--baronial_brown);
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  position: relative;
  bottom: 2rem;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--baronial_brown);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* --------------------------------------------------------*/
/* -----------------------why us---------------------------*/

.first {
  top: 50px;
}

.whyus {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: var(--back-pale);
}

.reasons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.reasons h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: solid black 1px;
}

.reasons .reasons-div {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px;
  justify-content: center;
}

.experiment {
  padding: 5px;
}

.reasons .reasons-div div {
  display: flex;
  padding: 10px;
  margin: 5px;
  align-items: center;
}

.reasons .reasons-div div p {
  padding: 10px;
}

.reasons .reasons-div div h3 {
  padding: 10px;
  font-weight: bolder;
}

.reasons .reasons-div div .nums {
  width: 2.5rem;
  height: 3rem;
  margin: 5px;
  object-fit: cover;
}
.reasons img {
  width: 40%;
  margin: 5px;
}

.reasons .img-2 {
  object-fit: cover;
  min-width: 300px;
}

/* --------------------------------------------------------*/
/* --------------------services-------------------------*/

.services {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 10px;
}
.servs {
  background-color: var(--back-pale);
}

.services .services-headings {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.services .services-headings h4 {
  border-top: solid black 1px;
}
.services .flex-container-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services .flex-container-services .cards-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-width: 300px;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0.5rem;
  height: 400px;
  transition: 0.2s;
}
.services .flex-container-services .cards-services:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.services .flex-container-services .cards-services img {
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.services .flex-container-services .cards-services .card-content-services {
  padding: 0.3rem;
}
.services .flex-container-services .cards-services .card-content-services h1 {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--baronial_brown);
  margin-bottom: 0.2rem;
}
.services .flex-container-services .cards-services .card-content-services p {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: var(--baronial_brown);
  margin-bottom: 0.1rem;
}
.services .flex-container-services .cards-services button {
  display: block;
  height: 2.1rem;
  margin-top: 0.5rem;
  width: 100%;
  padding: 3px;
  font-size: 1.4rem;
  text-align: center;
  color: var(--red);
  background-color: #efdfdf;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.services .flex-container-services .cards-services button span {
  margin-left: 1rem;
  transition: 0.2s;
}
.services .flex-container-services .cards-services button:hover,
.services .flex-container-services .cards-services button:active {
  background-color: #ecd8d8;
}
.services .flex-container-services .cards-services button:hover span,
.services .flex-container-services .cards-services button:active span {
  margin-left: 1.5rem;
}

/* --------------------------------------------------------*/
/* ---------------------industries--------------------------*/
.cards-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--back-pale);
}
.cards-wrapper .cards-heading {
  width: 75%;
  justify-content: center;
  margin: 1rem;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 1.5rem;
}

.cards-wrapper .cards-container-industry {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  width: 100%;
}
.cards-wrapper .cards-container-industry .card-industry {
  margin: 1rem;
  width: 230px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 1px #145450;
  background-color: white;
}
.cards-wrapper .cards-container-industry .card-industry svg {
  display: block;
  width: 100%;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.cards-wrapper .cards-container-industry .card-industry h4 {
  width: fit-content;
  text-align: center;
  padding: 3px;
  font-size: 1.2rem;
}

/* ---------------------------------------------------------*/
/* -----------------------technology------------------------*/

.icons {
  font-size: 3rem;
  color: var(--dark_grayish_magenta);
}

.tech {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: var(--back-pale);
}
.tech .details {
  padding: 1rem;
  width: 100%;
}
.tech .details h1 {
  text-align: center;
  border-bottom: solid 1px black;
}
.tech .horizontal-scroll {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}
.tech .horizontal-scroll .scroll-element {
  width: 30%;
  margin: 1rem;
}
.tech .horizontal-scroll .scroll-element li {
  list-style-type: none;
  color: var(--dark_grayish_magenta);
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.tech .horizontal-scroll .scroll-element h3 {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  overflow: hidden;
}

/* ---------------------------------------------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ---------------------Testimonials------------------------*/

.testimonials {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--back-pale);
}

.tests {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tests div {
  padding: 1rem;
  width: 30%;
  min-width: 300px;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.under-names {
  margin-top: 0.5rem;
  font-style: italic;
  color: black;
}

.tests div img {
  width: 100%;
  margin-bottom: 10px;
}

/* ---------------------------------------------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ------------------------Customers------------------------*/

.custs {
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--back-pale);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.custs h2 {
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid black 1px;
}

.customer-texts {
  width: 50%;
  margin: 10px;
  min-width: 250px;
}

.custs p {
  margin: 0.5rem;
  padding: 1rem;
}

.img-cont-cust {
  width: 40%;
  margin: 0.5rem;
  padding: 10px;
}

.img-cont-cust img {
  width: 100%;
  object-fit: cover;
}

/* ---------------------------------------------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* -------------------------Resumes-------------------------*/

.upload-btn {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  align-self: center;
  color: var(--green);
  background-color: var(--orange);
  text-decoration: none;
  margin-top: 5px;
}
.email {
  color: #fff;
}
.upload-btn a {
  text-decoration: none;
}
/* ---------------------------------------------------------*/
/* ---------------------------------------------------------*/

/* ---------------------------------------------------------*/
/* ------------------------Contact US-----------------------*/
.contact {
  background: linear-gradient(to right, #f46b45, #eea849);
  margin-bottom: 0;
}

.upload-btn-wrapper {
  display: flex;
  justify-content: center;
}

.forms-wrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
}

.resumes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  min-width: 330px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resumes h3 {
  font-size: 3rem;
  text-align: center;
}

.resumes p {
  font-size: 1.5rem;
  text-align: center;
}

.contact-form {
  width: 50%;
  min-width: 330px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form h3 {
  font-size: 4rem;
  text-align: center;
  color: white;
}
/* 
.contact-form button {
  margin: 0.5rem;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
  font-weight: bolder;
} */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}
input {
  width: 90%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

textarea {
  max-width: 90%;
  min-width: 90%;
  width: 90%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
label {
  margin-top: 2rem;
  align-self: flex-start;
  margin-left: 2.5rem;
}
input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: rgb(249, 105, 14);
  color: white;
  border: none;
}

/* ---------------------------------------------------------*/
/* ---------------------------FAQ---------------------------*/
#faq {
  display: flex;
  align-items: center;
}
.faqs {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--back-pale);
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url("./arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

.faq-big h2 {
  padding: 1rem;
  text-align: center;
}

/* ---------------------------------------------------------*/
/* ---------------------------------------------------------*/

/* --------------------------------------------------------*/
/* -------------------------footer-------------------------*/
.footer {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-content: center;
  margin-top: 0;
  background: linear-gradient(to right, #f46b45, #eea849);
}
.div-icons {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-icons {
  width: 3rem;
  height: 4rem;
  align-self: center;
  margin: 5px;
  color: var(--dark_grayish_magenta);
}
/* --------------------------------------------------------*/
/* --------------------media-query-------------------------*/

@media (max-width: 815px) {
  .img {
    width: 35vw;
    height: 100%;
    margin: 0;
  }

  .img img {
    margin: 0;
    width: 100%;
    height: 50px;
    object-fit: cover;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--green);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--green);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--green);
  }
}

@media (max-width: 450px) {
  .header {
    height: 60vh;
  }
  .header-writings {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0.1rem;
    width: 100%;
    height: 100%;
  }
  .reasons .reasons-div div p {
    padding: 5px;
    display: flex;
    text-align: start;
  }
  .tech {
    padding: 0;
  }
  .tech .horizontal-scroll .scroll-element h3 {
    font-size: large;
    padding: 2px;
  }
  .icons {
    font-size: 2rem;
  }
  .tech .horizontal-scroll .scroll-element li {
    font-size: medium;
    font-weight: normal;
  }
  .img-cont-cust {
    width: 100%;
  }
  .cuts {
    padding: 0;
  }
  .resumes {
    margin-bottom: 10px;
    min-width: 250px;
    padding: 10px;
  }
  .resumes h3 {
    font-size: 1.5rem;
  }
  .resumes p {
    font-size: 1rem;
  }
  .tests div {
    min-width: 200px;
  }
  .upload-btn {
    height: 45px;
  }
  .contact-form {
    min-width: 250px;
  }
  .contact-form h3 {
    font-size: 2rem;
  }
  label {
    margin-left: 1.1rem;
  }
}

@media (max-width: 330px) {
  .header {
    height: 70vh;
  }
  .biggest .main {
    width: auto;
  }
  .cuts {
    padding: 0;
  }
}

/* --------------------------------------------------------*/
/* --------------------------------------------------------*/
