:root {
  --orange: #fb9a17;
  --baronial_brown: #5a463f;
  --dark_grayish_magenta: #3c353c;
  --green: #145450;
  --red: #fb050b;
}

body {
  background-color: var(--green);
  color: var(--orange);
}

section {
  width: 100%;
  height: 350px;
  border: 1px solid white;
}
